body {
    height: 2000px;
    font-family: 'PT Sans', sans-serif;
    color:  #333333;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
}

header h3{
    font-size: 18px;
    margin:  10px 0px 10px 0px;
}

.page1, .page2, .page3 {
    height: 750px;
    width: 520px;
    border: solid 2px;
}

.page3 {
    background: #ebebeb;
	border: 2px solid black;
	position: absolute;
	left: 50%;
	margin: 0px -260px;
	padding: 40px 40px 20px 30px;
}

.page3 .marker{
    position: absolute;
    left: 570px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-color:  #000000;
    border-style: solid;
    background-color:  #f68e56;
    width: 107px;
    height: 31px;
}

.page3 h1 {
    font-size: 24px;
    margin: 0px 0px 10px 0px;
}

.page3 p {
    margin: 0px 0px;
}

.coffe {
	float: left;
	margin: 0px 20px 0px 0px;
}

.css2-contaner {
    margin-top: 20px
}

.css2 {
	float: right;
    margin: 5px 0px 0px 0px;
}

.jokes {
    width: 100%;
    float: left;
    overflow: hidden;
    margin: 10px 0px;
}

.column1 {
    float: left;
    width: 50%
}

.column2 {
    float: right;
    width: 50%;
}

.column1 img {
    float: left;
    margin: 5px 0px;
}

.column2 img {
    float: right;
    margin: 5px 0px;
}

footer {
    font-size: 9px;
    text-align: center;
    margin: 20px 0px;
}

.page2 {
	background: #cccccc;
	border: 2px solid black;
	position: absolute;
	left: 50%;
	margin: 20px -240px;
	padding: 40px 40px 20px 30px;
}

.page2 .marker {
    position: absolute;
    left: 550px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-color:  #000000;
    border-style: solid;
    background-color:  #39b54a;
    width: 95px;
    height: 31px;
}

.page1 {
	background: #acacac;
	border: 2px solid black;
	position: absolute;
	left: 50%;
	margin: 40px -220px;
	padding: 40px 40px 20px 30px;
}

.page1 .marker {
    position: absolute;
    left: 510px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-color:  #000000;
    border-style: solid;
    background-color:  #00aeef;
    width: 95px;
    height: 31px;
}

.share{
    z-index: 2;
    position: fixed;
	right: 0px;
	bottom: 100px;
    height: 69px;
    width: 87px;
    border: solid 1px #362f2d;
    background: #fbaf5d;
    text-align: center;
}

.share img {
	height: 25px;
	width: 80px;
	padding: 10px 0px;
}