body {
    height: 2000px;
    font-family: 'Myriad Pro';
    color: #333333;
    font-size: 12px;
}
h1, h3 {
	padding: 0px;
	margin: 0px;
}

header h3{
	margin: 
}

.page1, .page2, .page3 {
    height: 750px;
    width: 520px;
    border: solid 2px;
}

.page1 {
	z-index: 3;
    background: #ebebeb;
	border: 2px solid black;
	position: absolute;
	left: 50%;
	margin: 0px -260px;
	padding: 40px 40px 20px 30px;
}

.page1 .marker{
    position:relative;
    left: 520px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-color:  #000000;
    border-style: solid;
    background-color:  #f68e56;
    width: 107px;
    height: 31px;
}

.coffe {
	float: left;
	margin: 0px 20px 0px 0px;
}

.css2 {
	float: right;
    margin: 0px 0px 20px 0px;
}

header h3{
    margin:  10px 0px 10px 0px;
}

section img {
    display: inline-block;
    margin: 5px 20px 5px 0px;
}

.page2 {
    z-index: 2;
	background: #cccccc;
	border: 2px solid black;
	position: absolute;
	left: 50%;
	margin: 20px -240px;
	padding: 40px 40px 20px 30px;
}

.page3 {
	z-index: 1;
	background: #acacac;
	border: 2px solid black;
	position: absolute;
	left: 50%;
	margin: 40px -220px;
	padding: 40px 40px 20px 30px;
}

.share{
    z-index: 4;
    position: fixed;
	right: 0px;
	bottom: 100px;
    height: 69px;
    width: 87px;
    border: solid 1px #362f2d;
    background: #fbaf5d;
    text-align: center;
}

.share img {
	height: 25px;
	width: 80px;
	padding: 10px 0px;
}

footer {
    font-family: 'Myriad Pro';
    color: #333333;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
}